/* Additions and modifications */
html {
  scroll-behavior: smooth;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100px;
  width: 100%;
  background-color: #212121;
  border-radius: 20px;
}

nav {
  padding-left: 10px;
}

nav ul li {
  display: inline-block;
  padding: 5px;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}

nav li a:link,
nav li a:visited {
  text-decoration: none;
  color: white;
}

nav li a:hover {
  text-decoration: underline;
  color: #ff3e5b;
}

aside {
  position: fixed;
  top: 20px;
  right: 10px;
}

aside li {
  list-style-type: none;
}

aside li a:link,
aside li a:visited,
aside li a:hover {
  text-decoration: none;
  color: white;
}

.fa {
  padding: 5px;
  font-size: 16px;
  width: 20px;
  text-align: center;
  text-decoration: none;
  margin: 5px 2px;
  border-radius: 50%;
}

.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-twitter {
  background: #55ACEE;
  color: white;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-youtube {
  background: #bb0000;
  color: white;
}

.fa-instagram {
  background: #125688;
  color: white;
}

.fa-pinterest {
  background: #cb2027;
  color: white;
}

.fa-tumblr {
  background: #2c4762;
  color: white;
}

.emoji {
  font-size: 25px;
}

.fa-home {
  background: #212121;
  color: white;
}

fieldset {
  border-width: 6px;
  border-color: #212121;
  width: 95%;
}

article {
  width: 95%;
  background-color: #212121;
  color: #ffffff;
  padding: 20px;
  margin-top: 30px;
  border-radius: 20px;
}

.imagesize {
  width: 100%;
  height: auto;
}

.scroll-animation {
  transition: transform 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
